{% extends 'base.html.twig' %}

{% block title %}Hello HomePageController!{% endblock %}

{% block body %}

<main>
    <div class="cont-main">

        {# partie actualité carroussel----------------------------------------------- #}
        {# -------------------------------------------------------------------------- #}
        <div class="cont-actualite-carroussel">
            <div class="overlay">
                <div class="titre-dans-image">   
                    <h1> Titre actualité image actualité 1 </h1> 
                    <div class="para-dans-image">
                         <p> paragraphe lié a l'actualité numéro 1 </p>
                    </div>
                    <button class="btn-index" type="submit">LIRE</button>
                </div>
            </div>  
        </div>

        {# partie données matchs et classement------------------------------------------ #}
        {#-----------------------------------------------------------------------------  #}
        <div class="cont-match-classement">
            <div class="box-match-classement">
                <h1> Matchs </h1>
                {# <p>{{ opposition.equipe1.nom }} vs {{ opposition.equipe2.nom }}</p>  #}
                {# <p>{{ opposition.scoreEquipe1 }} - {{ opposition.scoreEquipe2 }}</p>  #}
                {{ dump(opposition) }}
                {# je dois écrire une requete pour aller récupérer la dernière opposition de mon equipe #}

                <h1> Classement</h1>  
            </div>
        </div>

        {# bloc actualité--------------------------------------------------------------- #}
        {#-----------------------------------------------------------------------------  #}
        <div class="cont-actualite">
            <h2 class="actualite-titre"> ACTUALITE </h2>

            {# actu 1 #}
            <div class="box-actualite box-actualite1">
                <div  class="img-section-actualite img-section-actualite1">
                </div>                    
                <div class="box-titre box-titre-actualite1">
                    <h2> Titre de l'article actualité 1 </h2>  
                </div>
            </div>

            {# actu 2 #}
            <div class="box-actualite box-actualite2">
                <div  class="img-section-actualite img-section-actualite2">
                </div>
                <div class="box-titre box-titre-actualite2">
                    <h2> Titre de l'article actualité 2 </h2>  
                </div>
            </div>

            {# actu 3 #}
            <div class="box-actualite box-actualite3">
                <div  class="img-section-actualite img-section-actualite3">
                </div>
                <div class="box-titre box-titre-actualite3">
                    <h2> Titre de l'article actualité 3 </h2>  
                </div>
            </div>
        </div>

       
        {# bloc evenement--------------------------------------------------------------- #}
        {# ----------------------------------------------------------------------------- #}
        <div class="cont-evenement">
            <div class="evenement-titre">
                <h2> EVENEMENT </h2>
            </div> 

            {# evenement 1 #}
            <div class="box-evenement box-evenement1">
                <div class="img-event img-event-1">
                    <img src="/images/evenement_4.jpg" alt="victoire celebration">  
                </div>
                <div class="box-titre-evenement">  
                    <h2> Titre de l'évènement 1 </h2>  
                </div>   
            </div>

            {# evenement 2 #}
            <div class="box-evenement box-evenement2">
                <div class="img-event img-event-2">
                    <img src="/images/evenement_1.jpg" alt="stade avec joueurs">  
                </div>
                <div class="box-titre-evenement">
                     <h2> Titre de l'évènement 2 </h2>  
                </div>   
            </div>

            {# evenement 3 #}
            <div class="box-evenement box-evenement3">
                <div class="img-event img-event-3">
                    <img src="/images/evenement_2.jpg" alt="joueurs à l'entrainement">  
                </div>
                <div class="box-titre-evenement">
                     <h2> Titre de l'évènement 3 </h2>  
                </div> 
            </div>
        </div>
            
        {# bloc boutique---------------------------------------------------------------- #}
        {# ------------------------------------------------------------------------------#}
        <div class="cont-shop">
             <div class="shop-titre">
                <h2> BOUTIQUE </h2>
            </div> 

            {# shop 1 #}
            <div class="box-shop box-shop1">
                <div class="img-shop img-shop-1">
                    <img src="/images/shop1.jpg" alt="ensemble maillot short">  
                </div>
                <div class="box-bouton">  
                    <button class="btn-shop" type="submit">ACHAT</button> 
                </div>   
            </div>

            {# shop 2 #}
            <div class="box-shop box-shop2">
                <div class="img-shop img-shop-2">
                    <img src="/images/shop2.jpg" alt="ensemble maillot short">  
                </div>
                <div class="box-bouton">  
                    <button class="btn-shop" type="submit">ACHAT</button> 
                </div>   
            </div>

            {# shop 3 #}
            <div class="box-shop box-shop3">
                <div class="img-shop img-shop-3">
                    <img src="/images/shop3.jpg" alt="ensemble maillot short">  
                </div>
                <div class="box-bouton"> 
                    <button class="btn-shop" type="submit">ACHAT</button>  
                </div>   
            </div>
        </div>

        {# equipe 1er lien vers les joueurs--------------------------------------------- #}
        {# ----------------------------------------------------------------------------- #}
        <div class="cont-equipe1">
            <div class="overley-joueur">
                <div class="titre-image">
                      <h1> EQUIPE PREMIERE </h1> 
                    <div class="para-image">
                         <p> COMPOSITION </p>
                    </div>
                    <button class="btn-index" type="submit">LIRE</button>
                </div>
            </div>
        </div>


        {# partie partenaires----------------------------------------------------------- #}
        {# ----------------------------------------------------------------------------- #}
        <div class="cont-partenaire">
            <div class="box-partenaire">
                <div class="titre-partenaires">
                    <h2>PARTENAIRES</h2>
                </div>
                <div class="logo-partenaire">
                    <img src="/images/Six-Fours-les-Plages.png" alt="logo ville de six fours">
                    <img src="/images/Kappa-Logo.png" alt="logo kappa">
                    <img src="/images/district.png" alt="logo district du var">
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}
