
{% extends 'base.html.twig' %}

{% block title %}Liste des Joueurs{% endblock %}

{% block body %}

    <div class="container">
        <h1>Liste des Joueurs</h1>
        <div class="row">
            {% for joueur in joueurs %}
                <div class="col-md-4">
                    <div class="card">
                        {# <img src="../images/card.jpg" class="card-img-top" alt="profil joueur"> #}
                        <img src="{{ vich_uploader_asset(joueur, 'imageFile') }}">
                        <div class="card-title">
                            {{ joueur.nom }} {{ joueur.prenom }}
                        </div>
                        <div class="card-content">
                            <p>{{ joueur.numero }}</p>
                            <p>{{ joueur.poste }}</p>
                            <!-- Ajoutez d'autres informations du joueur ici -->
                            <a href="{{path('app_joueur_stat', {'id': joueur.id})}}" class="btn btn-danger mt-4 mb-4">Statistique</a>

{# 
                            <a href="{{ path('app_joueur_show', {'id': joueur.id}) }}" class="btn btn-primary mt-2">Voir</a>
                            <a href="{{ path('app_joueur_edit', {'id': joueur.id}) }}" class="btn btn-warning mt-2">Modifier</a>
                            <form method="post" action="{{ path('app_joueur_delete', {'id': joueur.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce joueur ?');" class="mt-2">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ joueur.id) }}">
                                <button class="btn btn-danger">Supprimer</button>
                            </form> #}
                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('app_joueur_edit', {'id': joueur.id}) }}" class="btn btn-warning mt-2">Modifier</a>
                                <a href="{{ path('app_joueur_show', {'id': joueur.id}) }}" class="btn btn-info mt-2">Afficher</a>
                                <a href="{{ path('app_joueur_new') }}" class="btn btn-success mt-2">Ajouter</a>
                                <form action="{{ path('app_joueur_delete', {'id': joueur.id}) }}" method="post" style="display: inline;">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ joueur.id) }}">
                                    <button type="submit" class="btn btn-primary mt-2">Supprimer</button>
                                </form>
                            {% endif %}

                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}