{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block noHeaderFooter %} 

    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                Bonjour, {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
            </div>
        {% endif %}

        <div class="general-form">
            <div class="titre-login">
                <img src="/images/logo/six-fours.png">
                <h1 class="h3 mb-3 font-weight-normal"> SIX-FOURS </h1>
            </div>
            <div class="bottom-form">
                <div class="champ-form">
                    {# <label for="username"> Email </label> #}
                    <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="email" required autofocus placeholder="Email">
                    {# <label for="password"> Mot de passe </label> #}
                    <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required placeholder="Mot de passe">

                    <input type="hidden" name="_csrf_token"
                        value="{{ csrf_token('authenticate') }}"
                    >
                </div>
                    {# Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                    See https://symfony.com/doc/current/security/remember_me.html #}

                    {# <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Se souvenir de moi 
                        </label>
                    </div> #}
            

                <button class="btn-form" type="submit">
                    CONNECTEZ-VOUS
                </button>
                <div class="register-acces">
                    <a href="{{path('app_register')}}"> <h1>Non enregistré? Rejoignez-nous</h1> </a>
                </div>

            </div>
        </div>
    </form>
{% endblock %}
