{% extends 'base.html.twig' %}

{% block title %}Hello HomePageController!{% endblock %}

{% block body %}

<main>
    <div class="cont-main">

        {# BLOC ACTUALITE CARROUSSEL------------------------------------------------- #}
        {# -------------------------------------------------------------------------- #}
        <div class="cont-actualite-carroussel">
            <div class="overlay">
                <div class="titre-dans-image">   
                    <h1> Titre actualité image actualité 1 </h1> 
                    <div class="para-dans-image">
                         <p> paragraphe lié a l'actualité numéro 1 </p>
                    </div>
                    <button class="btn-index" type="submit">LIRE</button>
                </div>
            </div>  
        </div>

        {# BLOC RECUPERATION DONNEES MATCHS ET CLASSEMENT------------------------------- #}
        {#-----------------------------------------------------------------------------  #}
        <div class="cont-match-classement">
            <div class="box-match-classement">
                <h1> Matchs </h1>

                {# recupere le dernier match de l'equipe de six-fours avec date et logo des deux equipes #}
                {% if lastMatchSixFours %}
                    <div class="date-match">
                        <p>{{ lastMatchSixFours.date |date('d-m-Y') }}</p>
                    </div>
                    <div class="logo-match">
                        <img src="{{ '/images/logo/' ~ lastMatchSixFours.equipe1.imageName }}">
                        <img src="{{ '/images/logo/' ~ lastMatchSixFours.equipe2.imageName }}">
                    </div>
                    <div class="equipe-score-match">
                        <p>{{ lastMatchSixFours.equipe1.nom }} <span class="versus">vs</span> {{ lastMatchSixFours.equipe2.nom }}</p>
                        <p>{{ lastMatchSixFours.scoreEquipe1 }} - {{ lastMatchSixFours.scoreEquipe2 }}</p>
                        <a href="{{path('app_opposition_index')}}"> Voir tous les matchs </a>
                    </div>
                {% else %}
                    <p>Aucun match trouvé.</p>
                {% endif %}


                {# récupère les 4 premier equipes du classement avec points match joue ect #}
                <div class="classement-match">
                    <h1> Classement</h1>
                    {# {{ dump(scores) }} #}
                    {% for equipe in equipes|slice(0, 4) %}
                    <div class="stat-match">
                        <div class="nom-equipe">
                            <h2>{{ equipe.nom }}</h2>
                        </div>
                        {# <p>{{ scores[equipe.id] }}</p>  #}
                        {# <p>{{ matches[equipe.id] }}</p>
                        <p>{{ matchesGagne[equipe.id] }}</p>
                        <p>{{ matchesNul[equipe.id] }}</p>
                        <p>{{ matchesPerdu[equipe.id] }}</p> #}
                    </div>
                    {% endfor %}   
                </div>           
                   
                <a href=""> Voir tous le classement </a>  
            </div>   
        </div>

        {# BLOC ACTUALITE--------------------------------------------------------------- #}
        {#-----------------------------------------------------------------------------  #}
        <div class="cont-actualite">
            <h2 class="actualite-titre"> ACTUALITE </h2>

            {# actu 1 #}
            <div class="box-actualite box-actualite1">
                <div  class="img-section-actualite img-section-actualite1">
                </div>                    
                <div class="box-titre box-titre-actualite1">
                    <h2> Titre de l'article actualité 1 </h2>  
                </div>
            </div>

            {# actu 2 #}
            <div class="box-actualite box-actualite2">
                <div  class="img-section-actualite img-section-actualite2">
                </div>
                <div class="box-titre box-titre-actualite2">
                    <h2> Titre de l'article actualité 2 </h2>  
                </div>
            </div>

            {# actu 3 #}
            <div class="box-actualite box-actualite3">
                <div  class="img-section-actualite img-section-actualite3">
                </div>
                <div class="box-titre box-titre-actualite3">
                    <h2> Titre de l'article actualité 3 </h2>  
                </div>
            </div>
        </div>

       
        {# BLOC EVENEMENT--------------------------------------------------------------- #}
        {# ----------------------------------------------------------------------------- #}
        <div class="cont-evenement">
            <div class="evenement-titre">
                <h2> EVENEMENT </h2>
            </div> 

            {# evenement 1 #}
            <div class="box-evenement box-evenement1">
                <div class="img-event img-event-1">
                    <img src="/images/evenement_4.jpg" alt="victoire celebration">  
                </div>
                <div class="box-titre-evenement">  
                    <h2> Titre de l'évènement 1 </h2>  
                </div>   
            </div>

            {# evenement 2 #}
            <div class="box-evenement box-evenement2">
                <div class="img-event img-event-2">
                    <img src="/images/evenement_1.jpg" alt="stade avec joueurs">  
                </div>
                <div class="box-titre-evenement">
                     <h2> Titre de l'évènement 2 </h2>  
                </div>   
            </div>

            {# evenement 3 #}
            <div class="box-evenement box-evenement3">
                <div class="img-event img-event-3">
                    <img src="/images/evenement_2.jpg" alt="joueurs à l'entrainement">  
                </div>
                <div class="box-titre-evenement">
                     <h2> Titre de l'évènement 3 </h2>  
                </div> 
            </div>
        </div>
            
        {# BLOC BOUTIQUE---------------------------------------------------------------- #}
        {# ------------------------------------------------------------------------------#}
        <div class="cont-shop">
             <div class="shop-titre">
                <h2> BOUTIQUE </h2>
            </div> 

            {# shop 1 #}
            <div class="box-shop box-shop1">
                <div class="img-shop img-shop-1">
                    <img src="/images/shop1.jpg" alt="ensemble maillot short">  
                </div>
                <div class="box-bouton">  
                    <button class="btn-shop" type="submit">ACHAT</button> 
                </div>   
            </div>

            {# shop 2 #}
            <div class="box-shop box-shop2">
                <div class="img-shop img-shop-2">
                    <img src="/images/shop2.jpg" alt="ensemble maillot short">  
                </div>
                <div class="box-bouton">  
                    <button class="btn-shop" type="submit">ACHAT</button> 
                </div>   
            </div>

            {# shop 3 #}
            <div class="box-shop box-shop3">
                <div class="img-shop img-shop-3">
                    <img src="/images/shop3.jpg" alt="ensemble maillot short">  
                </div>
                <div class="box-bouton"> 
                    <button class="btn-shop" type="submit">ACHAT</button>  
                </div>   
            </div>
        </div>

        {# EQUIPE 1ER LIEN VERS JOUEURS------------------------------------------------- #}
        {# ----------------------------------------------------------------------------- #}
        <div class="cont-equipe1">
            <div class="overley-joueur">
                <div class="titre-image">
                      <h1> EQUIPE PREMIERE </h1> 
                    <div class="para-image">
                         <p> COMPOSITION </p>
                    </div>
                    <button class="btn-index" type="submit">LIRE</button>
                </div>
            </div>
        </div>


        {# BLOC PARTENAIRES----------------------------------------------------------- #}
        {# ----------------------------------------------------------------------------- #}
        <div class="cont-partenaire">
            <div class="box-partenaire">
                <div class="titre-partenaires">
                    <h2>PARTENAIRES</h2>
                </div>
                <div class="logo-partenaire">
                    <img src="/images/Six-Fours-les-Plages.png" alt="logo ville de six fours">
                    <img src="/images/Kappa-Logo.png" alt="logo kappa">
                    <img src="/images/district.png" alt="logo district du var">
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}
